.container {
    padding: 15px 15px;
}

ul {
    list-style: none;
    padding-inline-start: 0px;
}

#search-complex {
    width: 300px;
}

#city-input {
    width: 100%;
}

.searchbar {
    height: 100%;
    width: 100%;
}