.container {
    padding: 15px 15px;
}

#searchHistory {
    height: 100%;
}

.bump {
    margin-left: 15px;
}

.hider {
    display: hidden;
}

.headline {
    width: 100%;
    color: aliceblue;
    text-align: center;
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
}

.cityCard {
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 15px 15px;
}

ul {
    list-style: none;
    padding-inline-start: 0px;
}

#search-complex {
    border-radius: 15px;
    width: 100%;
    height: 500px;
}

#city-input {
    width: auto;
}

.searchbar {
    padding-top:15px;
    height: 100%;
    width: 150px;
}